<h2 class="accountConfig__header">Account konfigurieren</h2>

<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label accountConfig__body__label">Name:</label>
        <div class="col-sm-10">
            <p class="form-control-static accountConfig__body--uneditableValue">{{model.firstname}}&nbsp;{{model.lastname}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label accountConfig__body__label">Email:</label>
        <div class="col-sm-10">
            <p class="form-control-static accountConfig__body--uneditableValue">{{model.username}}</p>
        </div>
    </div>
    <div class="form-group">
        <label for="accConfigTypeSelect" class="col-sm-2 control-label accountConfig__body__label">Nutzertyp:</label>
        <div class="col-sm-10">
            {{view "select" id="accConfigTypeSelect" content=studentTypeOptions selection=selectedStudentType classNames="form-control input-sm accountConfig__body__typeSelect"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label accountConfig__body__label">Passwort</label>
        <div class="col-sm-10">
            {{#if isEditIcon}}
                <p class="form-control-static accountConfig__body__passwordEditIcon" {{action 'showPasswordEdit'}}>
                    Ändern <span class="glyphicon glyphicon-edit"></span>
                </p>
            {{else}}
                <div class="accountConfig__body__passwordEdit">
                    <div class="accountConfig__body__passwordEdit__wrapper">
                        <div class="accountConfig__body__passwordEdit__row">
                            <div {{bind-attr class=":ccountConfig__body__passwordEdit__descriptionCell isOldPasswordValid::accountConfig__body__passwordEdit__row--invalid"}}>Altes Passwort:</div>
                            <div class="accountConfig__body__passwordEdit__valueCell">
                                {{input type="password" id="accConfigOldPassword" value=oldPassword classBinding=":form-control :input-sm isOldPasswordValid::accountConfig__body__passwordEdit__row--invalid"}}
                            </div>
                        </div>
                        <div class="accountConfig__body__passwordEdit__row">
                            <div {{bind-attr class=":ccountConfig__body__passwordEdit__descriptionCell isNewPasswordValid::accountConfig__body__passwordEdit__row--invalid"}}>Neues Passwort:</div>
                            <div class="accountConfig__body__passwordEdit__valueCell">
                                {{input type="password" id="accConfigNewPassword" value=newPassword classBinding=":form-control :input-sm isNewPasswordValid::accountConfig__body__passwordEdit__row--invalid"}}
                            </div>
                        </div>
                        <div class="accountConfig__body__passwordEdit__row">
                            <div {{bind-attr class=":ccountConfig__body__passwordEdit__descriptionCell isNewPasswordConfirmValid::accountConfig__body__passwordEdit__row--invalid"}}>Passwort bestätigen:</div>
                            <div class="accountConfig__body__passwordEdit__valueCell">
                                {{input type="password" id="accConfigNewPasswordConfirm" value=newPasswordConfirm classBinding=":form-control :input-sm isNewPasswordConfirmValid::accountConfig__body__passwordEdit__row--invalid"}}
                            </div>
                        </div>
                        <div class="ccountConfig__body__passwordEdit__descriptionCell"></div>
                        <div class="accountConfig__body__passwordEdit__valueCell accountConfig__body__passwordEdit__button">
                            <button type="submit" class="btn btn-default" {{action 'validatePasswordChange'}}>Speichern</button>
                        </div>
                    </div>
                    {{#if passwordValidationMessages}}
                        <p class="alert alert-danger accountConfig__error">
                            {{#each message in passwordValidationMessages}}
                                &bull; {{message}} <br/>
                            {{/each}}
                        </p>
                    {{/if}}
                </div>
            {{/if}}
        </div>
    </div>
</form>
