<div>
    <button type="button" class="btn application__secondPrimaryButton btn-lg" {{bind-attr disabled=isLoading}} {{action 'displayStudies'}}>
        {{#if isLoading}}
            {{loading-status additionalClassNames="loading__studySearch--dashboard"}}
        {{else}}
            Nutzerstudien
        {{/if}}
    </button>

    {{#if collectsMMI}}
        <div class="dashboard__mmiPoints">
            <span class="dashboard__mmiPoints__label">Gesammelte MMI-Punkte: <span class="dashboard__mmiPoints__value">{{model.mmiPoints}}</span></span>
        </div>
    {{/if}}
</div>

{{#if model.news}}
    {{news-display title="Newsfeed" news=model.news additionalClassNames="dashboardNews"}}
{{/if}}


<div class="studyDisplay__wrapper">
    {{#if futureRegisteredStudies}}
        {{study-display title="Angemeldete Studien" studiesDisplayed=futureRegisteredStudies additionalClassNames='studyDisplay--participant' action='displayStudy'}}
    {{/if}}

    {{#if history}}
        {{study-display title="Studien Teilnahmen" studiesDisplayed=history additionalClassNames='studyDisplay--history' action='displayStudy'}}
    {{/if}}

    {{#if ownCreatedStudies}}
        {{study-display title="Durchgeführte Studien" studiesDisplayed=ownCreatedStudies additionalClassNames='studyDisplay--creator' action='displayStudy'}}
    {{/if}}
</div>