{{#if isAdviser}}
    <button class="btn btn-primary createStudyButton--adviser">Neue Studie erstellen</button>
{{/if}}

<div>
    {{study-searchform allOptions=searchTags classNames='studySearch' action="displayStudies"}}
    <div class="dashboard_mmiPoints">
        <span class="dashboard_mmiPoints__label">Gesammelte MMI-Punkte: <span class="dashboard_mmiPoints__value">{{model.mmiPoints}}</span></span>
    </div>
</div>

<div class="dashboardNews panel panel-default">
    <div class="panel-heading">Newsfeed</div>
    <div class="panel-body customizedPanel">
        <ul class="list-group panelDisplay__list">
            {{#each n in model.news}}
                <li class="list-group-item dashboardNews__item">
                    <h3 class="list-group-item-heading dashboardNews__item__heading">{{n.title}} <small>{{n.date}}</small></h3>
                    <div class="list-group-item-text dashboardNews__item__body">
                        <div>{{n.description}}</div>
                        <a target="_blank" {{bind-attr href="n.link"}}>Link zur Studie</a>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>

<div class="studyDisplay__wrapper">
    {{study-display title="Angemeldete Studien" studies=model.registeredStudies additionalClassNames='studyDisplay--participant' action='displayStudy'}}

    {{study-display title="Historie" studies=model.history additionalClassNames='studyDisplay--history' action='displayStudy'}}
    {{#if isCreator}}
        {{study-display title="Erstellte Studien" studies=model.createdStudies additionalClassNames='studyDisplay--creator' action='displayStudy'}}
    {{/if}}
</div>