<h2 class="labels__heading">Labels verwalten</h2>


<div class="input-group labels__creationWrapper">
    {{input type="text" value=newLabelValue placeholder="Neuer Labelname" action="createLabel" classNames="form-control" aria-describedby="creationHelpText"}}
    <span class="input-group-btn">
        <button {{bind-attr class=":btn createDataWasValid:application__secondPrimaryButton:btn-danger"}} {{bind-attr disabled=isCreateButtonDisabled}} {{action 'createLabel'}}>
            {{#if isCreateLoading}}
                {{loading-status additionalClassNames="loading__label--create"}}
            {{else}}
                Erstellen
            {{/if}}
        </button>
    </span>
</div>
{{#if isHelpTextDisplayed}}
    <span id="creationHelpText" class="help-block">
        Ein Label muss aus mindestens drei Zeichen bestehen!
    </span>
{{/if}}


{{#if statusMessage}}
    {{status-message message=statusMessage.message isSuccess=statusMessage.isSuccess additionalClassNames="labels__statusMessage"}}
{{/if}}

{{#if model}}
    <ul class="list-group labels__list">
        {{#if isDeleteLoading}}
            <li class="labels__tableLoadingWrapper">
                {{loading-status additionalClassNames="loading--table"}}
            </li>
        {{else}}
            {{#each label in model}}
                {{#if label.id}}
                    {{labels-item name=label.title selfId=label.id relatedStudies=label.userstudies studyClicked="goToStudy" gotRemoved="deleteLabel"}}
                {{/if}}
            {{/each}}
        {{/if}}
    </ul>
{{/if}}


