<h2 class="labels__heading">Labels verwalten</h2>


<div class="input-group labels__creationWrapper">
    {{input type="text" value=newLabelValue placeholder="Neuer Labelname" action="createLabel" classNames="form-control"}}
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" {{bind-attr disabled=isCreateButtonDisabled}} {{action 'createLabel'}}>Erstellen</button>
    </span>
</div>

{{#if statusMessage}}
    {{status-message message=statusMessage.message isSuccess=statusMessage.isSuccess additionalClassNames="labels__statusMessage"}}
{{/if}}

<ul class="list-group labels__list">
    {{#each label in model}}
        {{#if label.id}}
            {{labels-item name=label.title selfId=label.id gotRemoved="deleteLabel"}}
        {{/if}}
    {{/each}}
</ul>

