<div class="login__container">
    <form role="form">
        <div class="form-group">
            <label for="emailLoginInput">Email</label>
            {{input value=username type="email" id="emailLoginInput" placeholder="nutzer@campus.lmu.de" classNames="form-control" action="login"}}
        </div>
        <div class="form-group">
            <label for="passwordLoginInput">Password</label>
            {{input value=password type="password" id="passwordLoginInput" placeholder="Passwort" classNames="form-control" action="login"}}
        </div>
    </form>

    <button {{bind-attr class=":btn :login__button loginDataWasValid:btn-default:btn-danger"}} {{bind-attr disabled=isLoading}} {{action 'login'}}>
        Login
    </button>

    {{#if statusMessage}}
        {{status-message message=statusMessage.message isSuccess=statusMessage.isSuccess additionalClassNames="login__alert"}}
    {{/if}}

    {{#if isLoading}}
        <div class="loading--login__wrapper">
            {{loading-status additionalClassNames="loading--login"}}
        </div>
    {{else}}
        <div class="login__passwordRecovery" {{action 'toPasswordRecovery'}}>Passwort vergessen?</div>
    {{/if}}
</div>

<button class="btn btn-primary center-block login__signUpButton" {{action 'toSignUp'}}>Account erstellen</button>