<h2 class="management--all__heading">Alle News</h2>

<button class="btn btn-primary management--all__createButton" {{action 'createNews'}}>News erstellen</button>

{{#if statusMessage}}
    {{status-message message=statusMessage.message isSuccess=statusMessage.isSuccess additionalClassNames="management--all__statusMessage"}}
{{/if}}

<div class="table-responsive management--all__table">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                {{input action="filterNews" type="text" value=titleFilter classNames="form-control input-sm" placeholder="Filter Titel"}}
            </th>
            <th>
                {{view "date-field" readonly="readonly" classNames="form-control input-sm management--all__datePicker" value=selectedDateFilter}}
                <span class="glyphicon glyphicon-remove management--all__datePicker__clearButton" {{action 'clearDatePicker'}}></span>
            </th>
            <th>
                {{#if isLoading}}
                    <span class="glyphicon glyphicon-refresh"></span>
                {{/if}}
            </th>
        </tr>
        <tr>
            <th>Titel</th>
            <th>Datum</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#if isTableLoading}}
            <tr>
                <td class="loading__wrapper--table" colspan="3">
                    {{loading-status additionalClassNames="loading--table"}}
                </td>
            </tr>
        {{else}}
            {{#if newsList}}
                {{#each news in newsList}}
                    <tr class="management--all__row" {{action 'showNewsConfig' news}}>
                        <td>{{news.title}}</td>
                        <td>{{news.date}}</td>
                        <td><span class="glyphicon glyphicon-remove management--all__deleteIcon" {{action 'deleteNews' news}}></span></td>
                    </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td class="management--all__emptyFilter" colspan="3">- Keine Ergebnisse -</td>
                </tr>
            {{/if}}
        {{/if}}
        </tbody>
    </table>
</div>