{{#if passwordRecoverySuccessful}}
    <div class="alert alert-success passwordRecovery--success__message" role="alert">
        <span class="passwordRecovery--success__message--primaryMessage">Es wurde eine Mail mit weiteren Instruktionen an "{{userEmail}}" gesendet!</span>
        <span class="passwordRecovery--success__message--secondaryMessage">Bitten überprüfen Sie Ihr Email Postfach.</span>
    </div>
{{else}}
    <h2 class="passwordRecovery__heading">Neues Passwort anfordern</h2>

    <div class="passwordRecovery__wrapper">
        <div class="input-group">
            {{input type="email" value=userEmail action="recoverPassword" classNames="form-control" placeholder="Registrierte Email..."}}
            <span class="input-group-btn">
                <button {{bind-attr class=":btn sentDataWasValid:btn-primary:btn-danger"}} type="button" {{bind-attr disabled=sendButtonDisabled}} {{action 'recoverPassword'}}>
                    {{#if isLoading}}
                        {{loading-status additionalClassNames="loading--passwordRecovery"}}
                    {{else}}
                        Zusenden
                    {{/if}}
                </button>
            </span>
        </div>

        {{#if statusMessage}}
            {{status-message message=statusMessage.message isSuccess=statusMessage.isSuccess additionalClassNames="passwordRecovery__statusMessage"}}
        {{/if}}
    </div>
{{/if}}


