{{#if passwordRecoverySuccessful}}
    <div class="alert alert-success passwordRecovery--success__message" role="alert">
        <span class="passwordRecovery--success__message--primaryMessage">Passwort f端r "{{userEmail}}" erfolgreich zur端ckgesetzt!</span>
        <span class="passwordRecovery--success__message--secondaryMessage">Bitten 端berpr端fen Sie Ihr Email Postfach.</span>
    </div>
{{else}}
    <h2 class="passwordRecovery__heading">Neues Passwort anfordern</h2>

    <div class="passwordRecovery__wrapper">
        <div class="input-group">
            {{input type="email" value=userEmail action="recoverPassword" classNames="form-control" placeholder="Registrierte Email..."}}
            <span class="input-group-btn">
        <button class="btn btn-primary" type="button" {{bind-attr disabled=sendButtonDisabled}} {{action 'recoverPassword'}}>Zusenden</button>
    </span>
        </div>

        {{#if statusMessage}}
            {{status-message message=statusMessage.message isSuccess=statusMessage.isSuccess additionalClassNames="passwordRecovery__statusMessage"}}
        {{/if}}
    </div>
{{/if}}


