<h2>Anzeige aller Studien</h2>

{{#if searchTags}}
    <span>für die Searchtags:
        {{#each tag in searchTags}}
            <span class="label label-default">{{tag}}</span>
        {{/each}}
                </span>
{{/if}}

<button type="button" class="btn btn-default btn-sm studies__filterButton" {{action 'enableDisableFilter'}}>
    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> {{filterButtonText}}
</button>

<div class="table-responsive studies__tableWrapper">
    <table class="table table-hover">
        <thead>
        {{#if isFilterVisible}}
            <tr>
                <th class="studies__column--status studies__filter--state">
                    {{custom-select values=stateFilterOptions currentSelected=selectedStateFilter}}
                </th>
                <th>
                    {{view "date-picker" readonly="readonly" classNames="form-control input-sm studies__datePicker" placeholder="Filter Von" value=selectedFromFilter}}
                </th>
                <th>
                    {{view "date-picker" readonly="readonly" classNames="form-control input-sm studies__datePicker" placeholder="Filter Bis" value=selectedToFilter}}
                </th>
                <th class="studies__column--name">
                    {{input type="text" classNames="form-control input-sm studies__filterInput--name" placeholder="Filter Name" value=selectedNameFilter}}
                </th>
                <th class="studies__column--location">
                    {{input type="text" classNames="form-control input-sm" placeholder="Filter Ort" value=selectedLocationFilter}}
                </th>
                <th class="studies__column--executor">
                    {{input type="text" classNames="form-control input-sm" placeholder="Filter Person" value=selectedPersonFilter}}
                </th>
                <th class="studies__filter--mmi studies__column--mmi">
                    {{custom-select values=mmiFilterOptions currentSelected=selectedMMIFilter}}
                </th>
                <th class="studies__filter--amazon studies__column--amazon">
                    {{custom-select values=amazonFilterOptions currentSelected=selectedAmazonFilter}}
                </th>
            </tr>
        {{/if}}
        <tr>
            <th class="studies__column--status">Status</th>
            <th>Von</th>
            <th>Bis</th>
            <th class="studies__column--name">Name</th>
            <th class="studies__column--location">Ort</th>
            <th class="studies__column--executor">Durchführung</th>
            <th class="studies__column--mmi">MMI</th>
            <th class="studies__column--amazon">Amazon</th>
        </tr>
        </thead>
        <tbody>
        {{#each study in model}}
            <tr {{bind-attr class=":studies__row study.expired:studies__row--expired:studies__row--notExpired"}} {{action 'showStudy' study}}>
                <td class="studies__column--status">
                    {{#if study.expired}}
                        Abgelaufen
                    {{/if}}
                </td>
                <td>{{study.from}}</td>
                <td>{{study.to}}</td>
                <td class="studies__column--name">{{study.name}}</td>
                <td class="studies__column--location">{{study.location}}</td>
                <td class="studies__column--executor">{{study.executor}}</td>
                <td class="studies__column--mmi">{{study.mmi}}</td>
                <td class="studies__column--amazon">{{study.amazon}}€</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>