<h2 class="management--all__heading">Alle Templates</h2>

<button class="btn application__secondPrimaryButton management--all__createButton" {{bind-attr disabled=isCreateLoading}} {{action 'createTemplate'}}>
    {{#if isCreateLoading}}
        {{loading-status additionalClassNames="loading__config--create"}}
    {{else}}
        Template erstellen
    {{/if}}
</button>

{{#if statusMessage}}
    {{status-message message=statusMessage.message isSuccess=statusMessage.isSuccess additionalClassNames="management--all__statusMessage"}}
{{/if}}

<div class="table-responsive management--all__table">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                {{input type="text" value=titleFilter classNames="form-control input-sm" placeholder="Filter Titel"}}
            </th>
            <th>
                {{custom-select values=totalFieldsCount currentSelected=fieldCountFilter promptText="Alle"}}
            </th>
        </tr>
        <tr>
            <th>Titel</th>
            <th>Anzahl Felder</th>
        </tr>
        </thead>
        <tbody>
        {{#if isTableLoading}}
            <tr>
                <td class="loading__wrapper--table" colspan="2">
                    {{loading-status additionalClassNames="loading--table"}}
                </td>
            </tr>
        {{else}}
            {{#if templatesList}}
                {{#each template in templatesList}}
                    <tr class="management--all__row" {{action 'showTemplateConfig' template}}>
                        <td>{{template.title}}</td>
                        <td>{{template.fields.length}}</td>
                    </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td class="management--all__emptyFilter" colspan="2">- Keine Ergebnisse -</td>
                </tr>
            {{/if}}
        {{/if}}
        </tbody>
    </table>
</div>