<h1 class="study__name">
    {{model.title}}
    {{#if model.closed}}
        <span class="label label-warning study__header__label">Abgeschlossen</span>
    {{/if}}
</h1>

<div class="study__dateRange">
    <span class="glyphicon glyphicon-calendar study__dateRange--delimiter"></span> {{model.fromDate}} - {{model.untilDate}}
</div>

{{#if statusMessage}}
    {{status-message message=statusMessage.message isSuccess=statusMessage.isSuccess}}
{{/if}}

<div class="data__wrapper">
    <div class="data__row">
        <div class="data__cell--description">Studientyp: </div>
        <div class="data__cell--value">
            {{#each label in model.labels}}
                <span class="study__label">{{label.title}}</span>
            {{/each}}
        </div>
    </div>
    <div class="data__row">
        <div class="data__cell--description">Ausführung: </div>
        <div class="data__cell--value data--person">{{model.executor.firstname}}&nbsp;{{model.executor.lastname}} <span class="glyphicon glyphicon-envelope data--person__mail"></span></div>
    </div>
    <div class="data__row">
        <div class="data__cell--description">Betreuer: </div>
        <div class="data__cell--value data--person">{{model.tutor.firstname}}&nbsp;{{model.tutor.lastname}} <span class="glyphicon glyphicon-envelope data--person__mail"></span></div>
    </div>
    <div class="data__row">
        <div class="data__cell--description">Ort: </div>
        <div class="data__cell--value">{{model.location}}</div>
    </div>
    <div class="data__row">
        <div class="data__cell--description">Entlohnung: </div>
        <div class="data__cell--value">
            <span class="data--payment">{{model.compensation}}€ Amazon-Gutschein</span> oder <span class="data--payment">{{model.mmi}} MMI-Punkte</span>
        </div>
    </div>
    <div class="data__row">
        <div class="data__cell--description">Beschreibung: </div>
        <div class="data__cell--value">
            <div class="data--description">
                {{model.description}}
            </div>
        </div>
    </div>
    {{#each field in fieldNameToValues}}
        <div class="data__row">
            <div class="data__cell--description">{{field.title}}: </div>
            <div class="data__cell--value">{{field.value}}</div>
        </div>
    {{/each}}
    <div class="data__row">
        <div class="data__cell--description">Link: </div>
        <div class="data__cell--value">
            <a target="_blank" {{bind-attr href="model.link"}}>Zur Studie</a>
        </div>
    </div>
    <div class="data__row">
        <div class="data__cell--description">Freie Plätze: </div>
        <div class="data__cell--value">{{freeSpace}} von {{model.space}}</div>
    </div>
</div>

{{#if model.closed}}
    {{#if canEdit}}
        <div class="alert alert-warning" role="alert">
            <strong>Achtung!</strong> <br>
            Die Studie wurde bereits abgeschlossen und die Amazon-Gutscheine und MMI-Punkte wurden für alle Teilnehmer
            persistent gespeichert. <br>
            Wenn Sie die Studie verändern oder neu abschließen, werden diese alten Änderungen
            nicht überschrieben!
        </div>
    {{/if}}
{{/if}}

<div class="study__button__wrapper">
    {{#if model.closed}}
        {{#if canEdit}}
            <button class="btn btn-primary study__editRegisterButton" {{action 'primaryButtonClick'}}>Bearbeiten</button>
        {{/if}}
    {{else}}
        <button class="btn btn-primary study__editRegisterButton" {{action 'primaryButtonClick'}}>
            {{#if canEdit}}
                Bearbeiten
            {{else}}
                {{#if isRegistered}}
                    Von dieser Studie abmelden
                {{else}}
                    Zu dieser Studie anmelden
                {{/if}}
            {{/if}}
        </button>
    {{/if}}

    <button class="btn btn-default study__cancelButton" {{action 'cancelButtonClick'}}>Alle Studien</button>

    {{#if model.published}}
        <button class="btn btn-default study__publicButton" {{action 'publicButtonClick'}}>Öffentliche Version</button>
    {{else}}
        <button class="btn btn-primary study__publishButton" {{action 'publishButtonClick'}}>Studie veröffentlichen</button>
    {{/if}}
</div>