<h1 class="study__name">{{model.title}}</h1>

<div class="study__dateRange">
    <span class="glyphicon glyphicon-calendar study__dateRange--delimiter"></span> {{model.fromDate}} - {{model.untilDate}}
</div>

<div class="data__wrapper">
    <div class="data__row">
        <div class="data__cell--description">Studientyp: </div>
        <div class="data__cell--value">
            {{#each label in model.labels}}
                <span class="study__label">{{label}}</span>
            {{/each}}
        </div>
    </div>
    <div class="data__row">
        <div class="data__cell--description">Ausführung: </div>
        <div class="data__cell--value data--person">
            {{model.executorFirstname}} {{model.executorLastname}} <span class="glyphicon glyphicon-envelope data--person__mail"></span>
        </div>
    </div>
    <div class="data__row">
        <div class="data__cell--description">Betreuer: </div>
        <div class="data__cell--value data--person">
            {{model.tutorFirstname}} {{model.tutorLastname}}<span class="glyphicon glyphicon-envelope data--person__mail"></span>
        </div>
    </div>
    <div class="data__row">
        <div class="data__cell--description">Ort: </div>
        <div class="data__cell--value">{{model.location}}</div>
    </div>
    <div class="data__row">
        <div class="data__cell--description">Entlohnung: </div>
        <div class="data__cell--value">
            <span class="data--payment">{{model.compensation}}€ Amazon-Gutschein</span> oder <span class="data--payment">{{model.mmi}} MMI-Punkte</span>
        </div>
    </div>
    <div class="data__row">
        <div class="data__cell--description">Beschreibung: </div>
        <div class="data__cell--value">
            <div class="data--description">
                {{model.description}}
            </div>
        </div>
    </div>
    {{#each field in model.templateKeysToValues}}
        <div class="data__row">
            <div class="data__cell--description">{{field.title}}: </div>
            <div class="data__cell--value">{{field.value}}</div>
        </div>
    {{/each}}
    <div class="data__row">
        <div class="data__cell--description">Link: </div>
        <div class="data__cell--value">
            <a target="_blank" {{bind-attr href="model.link"}}>Zur Studie</a>
        </div>
    </div>
    <div class="data__row">
        <div class="data__cell--description">Freie Plätze: </div>
        <div class="data__cell--value">{{model.freeSpace}} von {{model.capacity}}</div>
    </div>
</div>

<div class="study__button__wrapper">
    {{#if isLoggedIn}}
        <button class="btn btn-default study__cancelButton" {{action 'cancelButtonClick'}}>Zurück</button>
    {{else}}
        <button class="btn btn-primary study__editRegisterButton" {{action 'register'}}>
            Zu dieser Studie anmelden
        </button>
    {{/if}}
</div>