<h2 class="management--single__heading">Studie konfigurieren</h2>

<div>
    {{#if isTutorUser}}
        <button class="btn btn-danger management--single__deleteButton" {{bind-attr disabled=isDeleteLoading}} {{action 'deleteStudy'}}>
            {{#if isDeleteLoading}}
                {{loading-status additionalClassNames="loading--delete"}}
            {{else}}
                Studie löschen
            {{/if}}
        </button>
    {{/if}}

    <button class="btn btn-primary management--single__confirmPublishButton"  {{bind-attr disabled=isConfirmLoading}} {{action 'goToStudyConfirm'}}>
        {{#if isConfirmLoading}}
            {{loading-status additionalClassNames="loading__study--confirm"}}
        {{else}}
            Studie abschließen
        {{/if}}
    </button>
</div>

{{#if statusMessage}}
    {{status-message message=statusMessage.message isSuccess=statusMessage.isSuccess}}
{{/if}}

{{study-config isStudyCreation=false save="updateStudy" cancel="cancelView" title=model.study.title
        isSaveLoading=isUpdateLoading createUpdateDataWasValid=updateDataWasValid fromDate=model.study.fromDate
        toDate=model.study.untilDate mmi=model.study.mmi compensation=model.study.compensation mmiPoints=mmiPoints
        location=model.study.location description=model.study.description link=model.study.link labels=model.allLabels
        users=model.allUsers allRequiredStudies=allRequiredStudies templates=model.allTemplates templateValues=model.study.templateValues
        selectedLabels=model.study.labels news=model.allNews selectedNews=model.study.news registeredUsers=model.study.registeredUsers
        requiredStudies=model.study.requiredStudies template=template executor=executor tutor=tutor
        possibleTutors=possibleTutors possibleExecutors=possibleExecutors isTutorUser=isTutorUser capacity=model.study.space}}