<h2 class="management--all__heading">Anzeige aller Studien</h2>


<button class="btn btn-primary management--all__createButton" {{action 'createStudy'}}>Studie erstellen</button>

{{#if statusMessage}}
    {{status-message message=statusMessage.message isSuccess=statusMessage.isSuccess additionalClassNames="management--all__statusMessage"}}
{{/if}}


{{study-searchform allOptions=searchTags classNames="studies__tagFilter"}}

<div class="table-responsive studies__tableWrapper">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="studies__column--status studies__filter--state">
                    {{custom-select values=stateFilterOptions currentSelected=selectedStateFilter}}
                </th>
                <th>
                    {{view "date-picker" readonly="readonly" classNames="form-control input-sm studies__datePicker" placeholder="Filter Von" value=selectedFromFilter}}
                </th>
                <th>
                    {{view "date-picker" readonly="readonly" classNames="form-control input-sm studies__datePicker" placeholder="Filter Bis" value=selectedToFilter}}
                </th>
                <th class="studies__column--name">
                    {{input type="text" classNames="form-control input-sm studies__filterInput--name" placeholder="Filter Name" value=selectedNameFilter}}
                </th>
                <th class="studies__column--location">
                    {{input type="text" classNames="form-control input-sm" placeholder="Filter Ort" value=selectedLocationFilter}}
                </th>
                <th class="studies__column--executor">
                    {{input type="text" classNames="form-control input-sm" placeholder="Filter Person" value=selectedPersonFilter}}
                </th>
                <th class="studies__filter--mmi studies__column--mmi">
                    {{custom-select values=mmiFilterOptions currentSelected=selectedMMIFilter}}
                </th>
                <th class="studies__filter--amazon studies__column--amazon">
                    {{custom-select values=amazonFilterOptions currentSelected=selectedAmazonFilter}}
                </th>
                <th>
                </th>
            </tr>
            <tr>
                <th class="studies__column--status">Status</th>
                <th>Von</th>
                <th>Bis</th>
                <th class="studies__column--name">Name</th>
                <th class="studies__column--location">Ort</th>
                <th class="studies__column--executor">Durchführung</th>
                <th class="studies__column--mmi">MMI</th>
                <th class="studies__column--amazon">Amazon</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each study in model.studies}}
                <tr {{bind-attr class=":studies__row study.closed:studies__row--expired:studies__row--notExpired"}} {{action 'showStudy' study}}>
                    <td class="studies__column--status">
                        {{#if study.closed}}
                            Abgelaufen
                        {{/if}}
                    </td>
                    <td>{{study.fromDate}}</td>
                    <td>{{study.untilDate}}</td>
                    <td class="studies__column--name">{{study.title}}</td>
                    <td class="studies__column--location">{{study.location}}</td>
                    <td class="studies__column--executor">{{study.executor.firstname}}&nbsp;{{study.executor.lastname}}</td>
                    <td class="studies__column--mmi">{{study.mmi}}</td>
                    <td class="studies__column--amazon">{{study.compensation}}€</td>
                    <td><span class="glyphicon glyphicon-remove management--all__deleteIcon" {{action 'deleteStudy' study}}></span></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>