<h2 class="management--single__heading">User konfigurieren</h2>

<button class="btn btn-danger management--single__deleteButton" {{bind-attr disabled=isDeleteLoading}} {{action 'deleteUser'}}>
    {{#if isDeleteLoading}}
        {{loading-status additionalClassNames="loading--delete"}}
    {{else}}
        Nutzer löschen
    {{/if}}
</button>

{{#if statusMessage}}
    {{status-message message=statusMessage.message isSuccess=statusMessage.isSuccess}}
{{/if}}


{{user-config isUserCreation=false firstName=firstName lastName=lastName userName=userName selectedMMI=mmiPoints
              isMMIUser=isMMIUser selectedRole=selectedRole roles=roles mmiOptions=mmiValues
              isLoading=isUpdateLoading createUpdateDataWasValid=updateDataWasValid save="updateUser" cancel="cancelView"}}
