<h1 class="study__name">{{model.title}}</h1>

<div class="study__dateRange">
    <span class="glyphicon glyphicon-calendar study__dateRange--delimiter"></span> {{model.fromDate}} - {{model.untilDate}}
</div>

<div class="data__wrapper">
    <div class="data__row">
        <div class="data__cell--description">Ausführung: </div>
        <div class="data__cell--value data--person">{{model.executor.firstname}}&nbsp;{{model.executor.lastname}} <span class="glyphicon glyphicon-envelope data--person__mail"></span></div>
    </div>
    <div class="data__row">
        <div class="data__cell--description">Betreuer: </div>
        <div class="data__cell--value data--person">{{model.tutor.firstname}}&nbsp;{{model.tutor.lastname}} <span class="glyphicon glyphicon-envelope data--person__mail"></span></div>
    </div>
    <div class="data__row">
        <div class="data__cell--description">Ort: </div>
        <div class="data__cell--value">{{model.location}}</div>
    </div>
    <div class="data__row">
        <div class="data__cell--description">Entlohnung: </div>
        <div class="data__cell--value">
            <span class="data--payment">{{model.compensation}}€ Amazon-Gutschein</span> oder <span class="data--payment">{{model.mmi}} MMI-Punkte</span>
        </div>
    </div>
    <div class="data__row">
        <div class="data__cell--description">Beschreibung: </div>
        <div class="data__cell--value">
            <div class="data--description">
                {{model.description}}
            </div>
        </div>
    </div>
    <div class="data__row">
        <div class="data__cell--description">Doodle: </div>
        <div class="data__cell--value">
            <a target="_blank" {{bind-attr href="model.link"}}>Zum Doodle</a>
        </div>
    </div>
    <div class="data__row">
        <div class="data__cell--description">Freie Plätze: </div>
        <div class="data__cell--value">{{model.space}}</div>
    </div>
</div>

<button class="btn btn-primary study__button">
    {{#if canEdit}}
        Bearbeiten
    {{else}}
        Zu dieser Studie anmelden
    {{/if}}
</button>