<h2 class="management--single__heading--create">Studie abschließen</h2>

{{#if statusMessage}}
    {{status-message message=statusMessage.message isSuccess=statusMessage.isSuccess}}
{{/if}}

<div class="table-responsive management--all__table--studyConfirm">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Teilnehmer</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Prämie</th>
            </tr>
        </thead>
        <tbody>
        {{#if usersWithCompensation}}
            {{#each user in usersWithCompensation}}
                <tr>
                    <td>{{user.user.username}}</td>
                    <td>{{user.user.firstname}}</td>
                    <td>{{user.user.lastname}}</td>
                    {{#if user.canGetMMI}}
                        <td>
                            {{view "select" content=confirmOptions value=user.chosenCompensation classNames="form-control input-sm"}}
                        </td>
                    {{else}}
                        <td class="studyConfirm__compensationColumn">
                            {{model.study.compensation}}
                        </td>
                    {{/if}}
                </tr>
            {{/each}}
        {{else}}
            <tr>
                <td class="management--all__emptyFilter" colspan="4">- Keine angemeldeten Nutzer -</td>
            </tr>
        {{/if}}
        </tbody>
    </table>
</div>

<button {{bind-attr class=":btn :studyConfirm__confirmButton confirmDataWasValid:application__secondPrimaryButton:btn-danger"}} {{bind-attr disabled=isClosingLoading}} {{action 'confirmStudy'}}>
    {{#if isClosingLoading}}
        {{loading-status additionalClassNames="loading__study--confirm"}}
    {{else}}
        Studie abschließen
    {{/if}}
</button>
<button class="btn btn-default studyConfirm__cancelButton" {{bind-attr disabled=isCancelLoading}} {{action 'cancel'}}>
    {{#if isCancelLoading}}
        {{loading-status additionalClassNames="loading__config--cancel"}}
    {{else}}
        Abbrechen
    {{/if}}
</button>