<h2 class="management--all__heading">Anzeige aller Studien</h2>

{{#if isTutor}}
    <button class="btn btn-primary management--all__createButton" {{bind-attr disabled=isCreateLoading}} {{action 'createStudy'}}>
        {{#if isCreateLoading}}
            {{loading-status additionalClassNames="loading__config--create"}}
        {{else}}
            Studie erstellen
        {{/if}}
    </button>
{{/if}}

{{#if statusMessage}}
    {{status-message message=statusMessage.message isSuccess=statusMessage.isSuccess additionalClassNames="management--all__statusMessage"}}
{{/if}}


{{study-searchform allOptions=searchTags action="labelsChanged" classNames="studies__tagFilter"}}

<div class="table-responsive studies__tableWrapper">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="studies__filter--fromDate">
                    {{view "date-field" readonly="readonly" classNames="form-control input-sm management--all__datePicker" placeholder="Filter Von" value=selectedFromFilter}}
                    <span class="glyphicon glyphicon-remove management--all__datePicker__clearButton" {{action 'clearFromFilter'}}></span>
                </th>
                <th class="studies__filter--toDate">
                    {{view "date-field" readonly="readonly" classNames="form-control input-sm management--all__datePicker" placeholder="Filter Bis" value=selectedToFilter}}
                    <span class="glyphicon glyphicon-remove management--all__datePicker__clearButton" {{action 'clearToFilter'}}></span>
                </th>
                <th class="studies__column--name">
                    {{input type="text" action="filterStudies" classNames="form-control input-sm studies__filterInput--name" placeholder="Filter Titel" value=selectedTitleFilter}}
                </th>
                <th class="studies__column--location">
                    {{input type="text" action="filterStudies" classNames="form-control input-sm" placeholder="Filter Ort" value=selectedLocationFilter}}
                </th>
                <th class="studies__column--executor">
                    {{input type="text" action="filterStudies" classNames="form-control input-sm" placeholder="Filter Person" value=selectedExecutorFilter}}
                </th>
                <th class="studies__filter--mmi studies__column--mmi">
                    {{custom-select values=mmiFilterOptions currentSelected=selectedMMIFilter}}
                </th>
                <th class="studies__filter--amazon studies__column--amazon">
                    {{custom-select values=amazonFilterOptions currentSelected=selectedAmazonFilter}}
                </th>
                {{#if isTutor}}
                    <th>
                    </th>
                {{/if}}
            </tr>
            <tr>
                <th>Von</th>
                <th>Bis</th>
                <th class="studies__column--name">Name</th>
                <th class="studies__column--location">Ort</th>
                <th class="studies__column--executor">Durchführung</th>
                <th class="studies__column--mmi">MMI</th>
                <th class="studies__column--amazon">Amazon</th>
                {{#if isTutor}}
                    <th></th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
            {{#if isTableLoading}}
                <tr>
                    <td class="loading__wrapper--table" colspan="7">
                        {{loading-status additionalClassNames="loading--table"}}
                    </td>
                </tr>
            {{else}}
                {{#if studiesList}}
                    {{#each study in studiesList}}
                        <tr {{bind-attr class=":studies__row study.closed:studies__row--expired:studies__row--notExpired"}} {{action 'showStudyConfig' study}}>
                            <td>{{study.fromDate}}</td>
                            <td>{{study.untilDate}}</td>
                            <td class="studies__column--name">{{study.title}}</td>
                            <td class="studies__column--location">{{study.location}}</td>
                            <td class="studies__column--executor">{{study.executor.firstname}}&nbsp;{{study.executor.lastname}}</td>
                            <td class="studies__column--mmi">{{study.mmi}}</td>
                            <td class="studies__column--amazon">{{study.compensation}}€</td>
                            {{#if isTutor}}
                                <td><span class="glyphicon glyphicon-remove management--all__deleteIcon" {{action 'deleteStudy' study}}></span></td>
                            {{/if}}
                        </tr>
                    {{/each}}
                {{else}}
                    <tr>
                        <td class="management--all__emptyFilter" colspan="7">- Keine Ergebnisse -</td>
                    </tr>
                {{/if}}
            {{/if}}
        </tbody>
    </table>
</div>